<div class="main_div_in_chat_page">
    <div class="chat_box_div">
        <div class="logo_div_chat_page">
            LOOKING <span class="logo_for_span">FOR</span>
        </div>

        <div class="main_div_of_manger_profile">
            <div class="image_content_manger_profile">
                 hi
            </div>
            <div class="text_content_manager_profile">
                hello
            </div>
        </div>
    </div>
</div>