<div class="main_div">
    <div class="navbar_div">
    <div class="logo_div">
        LOOKING <span class="logo_for_span">FOR</span>
    </div>
   
       
    <div class="nav">
       <span class="jobs_span"><a href="/user_jobs/user_list_jobs">Jobs</a></span>
       <span class="recruiters_span"><a href="">Applications</a></span> 
       <span class="companies_span"><a href="">Interviews</a></span> 
       <span class="services_span"><a href="/user/logout">Logout</a></span> 
       <% unless @current_user %>
         <span><a href="/homes/login"> Sign up </a></span>
         <% else %>
         <span class="profile_img"><%= @current_user.name if @current_user %></span>
       <% end %>
    </div>
</div>
<div class="content_div">
    <div class="catchy_lines"> 
        <div class="heading_lines">
            BEST WAY TO FIND A PERFECT JOB
        </div>
        <div class="content_lines_div">
        <p>LOREM EPSUM IS THE BEST WAY TO GETTING LOREM EPSUM IS THE BEST WAY TO GETTING
       LOREM EPSUM IS THE BEST WAY TO GETTING</p>
    </div>
    </div>
    <div class="image_content">
        <%= image_tag('cartoon_image-removebg-preview.png',class: "index_image") %>
    </div>
</div>




<div class="searchbar">
    <div class="searchbar_name">Company</div>
    <div class="searchbar_input">
        <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" placeholder="Company name">
    <button>Search</button>
</div>
</div>




<div class="users_div">
    <div class="image_content2">
        <%= image_tag('arrow_img.png',class: "arrow_img") %>
    </div>
    <div class="users_content_div">
        10M+ Users trust 
        <span class="looking">
            LOOKING 
            <span class="for">
                FOR
            </span>
        </span>
        <div class="users_content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
    </div>
    <div class="image_content2">
        <%= image_tag('arrow_img1.png',class: "arrow_img") %>
    </div>
</div>
</div>
