<div class="main_div">
    <div class="navbar_div">
    <div class="logo_div">
        LOOKING <span class="logo_for_span">FOR</span>
    </div>
   
       
    <div class="nav">
       <span class="jobs_span"><a href="/user_jobs/user_list_jobs">Home</a></span>
       <span class="jobs-span"><a href="/user_jobs/user_list_jobs">Jobs</a></span> 
       <span class="companies_span"><a href="">Interviews</a></span> 
       <% unless @current_user %>
         <span><a href="/homes/login"> Sign up </a></span>
         <% else %>
         <div class="manager-user-name-div">
            <button class="manager-user-name">
                <%= @current_user.name if @current_user %>
            </button>
            <div class="logout-div">
                <a href="/user/logout">Logout</a>
            </div>
        </div>
       <% end %>
    </div>
</div>
<div class="content_div">
    <div class="catchy_lines"> 
        <div class="heading_lines">
            Searching For a JOB?
        </div>
        <div class="content_lines_div">
        <p>Then you are on a right place.Here you can find a neumarable number of jobs waiting for your applications.</p>
    </div>
    <div class="browse-jobs">
        <button><a href="/user_jobs/user_list_jobs">Browse Job</a></button>
    </div>
    </div>
    <div class="image_content">
        <%= image_tag('cartoon_image-removebg-preview.png',class: "index_image") %>
    </div>
</div>



<%# 
<div class="searchbar">
    <div class="searchbar_name">Company</div>
    <div class="searchbar_input">
        <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" placeholder="Company name">
    <button>Search</button>
</div>
</div> %>




<div class="users_div">
    <div class="image_content2">
        <%= image_tag('arrow_img.png',class: "arrow_img") %>
    </div>
    <div class="users_content_div">
        10M+ Users trust 
        <span class="looking">
            LOOKING 
            <span class="for">
                FOR
            </span>
        </span>
        <div class="users_content">
            <p>We Want You. Apply And Work With Us</p>
        </div>
    </div>
    <div class="image_content2">
        <%= image_tag('arrow_img1.png',class: "arrow_img") %>
    </div>
</div>
</div>
