<div class="main_div_for_signup">
    <div class="circle_div_up_in_login_page"></div>
    <div class="circle_div_down_in_login_page"></div>
    <div class="signup_main">


        <div class="signup_content">
            <div class="login_heading">
                <h1>Login</h1>
            </div>
            <div class="form_feilds">
                <form>
                    <div class="input">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="submit_button">
                        <button class="sub">continue</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="logo_div" id="logo_div">
            LOOKING <span class="logo_for_span" id="logo_for_span">FOR</span>
            <div class="logo_content">
                <h1>New User?</h1>
              Cool! You can always create your account by just filling few feilds.
            </div>
            <div class="have_an_account">
                    <a href="">Sign Up</a>
                </div>
        </div>
    </div>
</div>