<div class="main_div_for_signup">
    <div class="circle_div"></div>
    <div class="circle_div2"></div>
    <div class="signup_main">
        <div class="logo_div" id="logo_div">
            LOOKING <span class="logo_for_span" id="logo_for_span">FOR</span>
            <div class="logo_content">
                <h1>Welcome Back!</h1>
                To keep connected with us please login with your personal info
            </div>
            <div class="have_an_account">
                    <a href="/homes/login">Sign in</a>
                </div>
        </div>
        
        <div class="login_content">
            <div class="signup_heading">
                <h1>Sign up</h1>
            </div>
            <div>
            <form>
                <div class="input">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Name">
                    </div>
                    <div class="input">
                        <i class="fa-solid fa-phone"></i>
                        <input type="text" placeholder="Contact">
                        </div>
                        <div class="input">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email">
                            </div>
                            <div class="input">
                                <i class="fa-solid fa-lock"></i>
                                <input type="password" placeholder="Password">
                                </div>
                                <div class="submit_button">
                                    <button class="sub">continue</button>
                                </div>
            </form>
        </div>
            </div>
    </div>
</div>