// Place all the styles related to the user_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    background-color: #FFFBF4;
}
// .all_jobs_div {
//     margin-top: 80px;
// }
// .job_list_div{
//     background-color: white;
//     position: relative;
//     width: 1100px;
//     height: 150px;
//     border-radius: 10px;
//     box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.353);
//     margin-top: 15px;
//     margin-left: 250px;
//     display: flex;
// }
// .role_div {
//     position: absolute;
//     top: 10px;
//     left: 12px;
//     width: 400px;
//     height: 60px;
//     // background: yellow;
//     display: flex;
//     // justify-content: center;
//     align-items: center;
// }
// .hiring_manager_div {
//     position: absolute;
//     top: 70px;
//     left: 12px;
//     width: 400px;
//     height: 60px;
//     // background: brown;
//     display: flex;
//     // justify-content: center;
//     align-items: center;
// }
// .company_and_button_div {
//     position: relative;
//     left: 36.5%;
//     display: flex;
// }
// .company_div {
//     position: relative;
//     // background-color: #1dd3fd;
//     width: 400px;
//     height: 40px;
//     top: 40%;
// }
// .view_button_div {
//     position: relative;
//     background-color: greenyellow;
//     width: 160px;
//     height: 50px;
//     border-radius: 15px;
//     top: 35%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
.all-jobs-div{
    margin-top: 6%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    margin-bottom: 3%;
    position: relative;
    border-radius: 8px;
    left: 7%; 
    width: 82.5%;
    height: auto;
    background-color: white;
    box-shadow: -2px -2px 3px rgba(205, 205, 205, 0.412),
    3px 3px 3px rgba(0,0,0,0.2),
    6px 6px 6px rgba(0,0,0,0.2);
}

.job-list-div {
    // position: absolute;
    width: 1200px;
    height: 210px;
    border-radius: 5px;
    margin-bottom: 0.8%;
    margin-left: 2%;
    background-color: white;
    box-shadow: 3px 3px 6px #e8e8e8,
                -3px -3px 6px rgb(246, 246, 246);
    // width: ;
}


.job-title-div {
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
}
.job-title-span {
    color: #fb8719;
}
.company-name-title {
    font-size: 1rem;
    color: #627199;
}
.about-job-div {
    width: 90%;
    height: 50px;
}
.about-job-div p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    color: #627199;
    font-size: 1.2rem;
    line-height: 20px;
    word-spacing: 3px;
    -webkit-box-orient: vertical;
}

.job-list-details-div{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 5%;
}

.list-job {
    margin-bottom: 1%;
}

.job-list-line hr{
    width: 88.8%;
    margin-bottom: 0.5%;
    height: 1px;
    border: none;
    background: #627199;
}

.job-list-manager-name-and-more {
    display: flex;
    width: 89%;
    justify-content: space-between;
}
.job-list-manager-name-div {
    display: flex;
    align-items: center;
}
.job-list-manager-name {
    color: #a0a7ba;
}
.job-list-manager{
    color: #627199;
}
.job-list-view-more .btn1{
    position: relative;
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 10px 18px;
    background-color:#1dd3fd;
    // overflow: hidden;
    transition: transform 0.5s ease;
}
.job-list-view-more .btn1::before {
    content: '';
    position: absolute;
    opacity: 0.3;
    background: #1dd3fd;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.5s ease;
}
.job-list-view-more .btn1:hover {
    cursor: pointer;
    transform: translate(-6px, -6px);
}
.job-list-view-more .btn1:hover::before{
    transform: translate(6px,6px);
}



//ADD JOBS PAGE
.navbar_div {
    background-color: white;
    display: flex;
    width: 100%;
    height: 90px;
    z-index: 1;
    position: fixed;
    top: -8px;
    box-shadow: 0 0 2px 2px rgb(220, 218, 218);
}
.logo_for_span {
    color: #fb8719;
}
.nav {
    margin-left: 25%;
    font-size: 16px;
    margin-top: 35px;
}
.nav a{
    text-decoration: none;
    color: #78909c;
    padding: 20px;

}
.nav a:hover {
    color: #1dd3fd;
}
.profile_photo {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top : 12px;
    border-radius: 50%;
}
.logo_div {
    margin-left: 120px;
    font-size: 30px;
    margin-top: 25px;
    font-weight: 800;
    color: #1dd3fd;
}
.main_div_for_add_jobs{
    position: fixed;
    background-color: #FFFBF4;
    margin-top: -19px;
    width: 100%;
    height: 753px;
}
.main_input_field {
   position: absolute;
    top: 20%;
    left: 12%;
}
.input_field input {
    width: 500px;
    height: 40px;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    padding-left: 7px;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 2px solid #e8e8e8;
}
.input_div {
    margin-top: 6%;
    margin-left: 12%;
    max-width: 1120px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(205, 205, 205, 0.308);
    background-color: #f6f7f9;
}
.input_field_4 textarea{
    margin-left: 30px;
    width: 1040px;
    height: 130px;
    font-size: 18px;
    background: white;
    border: none;
    outline: none;
    padding: 7px 7px;
    border: 2px solid #e8e8e8;
    resize: vertical;
}
.input_field ::placeholder {
    font-size: 1rem;
    color: #afb8bd;
}
.input_field_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: yellow;
    height: 130px;
}
.input_field_submit input {
    width: 200px;
    height: 50px;
    border: none;
    background: #1dd3fd;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-out;
}
.input_field_submit input:hover {
    background: #16badf;
}







//job-details
.job_details {
    position: relative;
    width: 1428px;
    height: 600px;
    background: white;
    margin-top: 1%;
    left: 3%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.185);
}
.job_details_heading {
    position: absolute;
    display: flex;
    color: #fb8719;
    // background-color: #1dd3fd;
    top: 4%;
    left: 3%;
    z-index: 1;
    font-size: 25px;
}
.job_desc_line {
    // position: absolute;
    margin-top: 4.6%;
}
.job_desc_line hr {
    width: 93%;
    margin-left: 3%;
    height: 1px;
    border: none;
    background: #78909c;
}
.job_details_main_content_1 {
    position: relative;
    top: 1.5%;
    display: flex;
    left: 0.7%;
}
.job_details_content {
    display: flex;
    margin-bottom: 1.4%; 
}
.job_details_heading_content {
    width: 1408px;
    height: 60px;
    margin-top: 1%;
    margin-left: 0.7%;
    font-size: 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-left: 2%;
    background-color: #fba352;
}
.job_details_about_job{
    position: relative;
    overflow: auto;
    width: 1380px;
    line-height: 25px;
    height: 180px;
    word-spacing: 3px;
    font-size: 18px;
    margin-top: 0.3%;
    margin-left: 0.7%;
    color: black;
    display: flex;
    // align-items: center;
    padding: 1%;
    background-color: #F0F3F4 ;
}
.job_details_title {
    width: 260px;
    height: 60px;
    font-size: 23px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: #fba352;
}
.job_details_contnet_coloum2{
    margin-left: 0.6%;
}
.job_details_ans {
    width: 440px;
    height: 60px;
    font-size: 18px;
    margin-left: 0.3%;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    background-color: #F0F3F4 ;
}
.job_apply_button {
    position: absolute;
    top: 90%;
    right: 44%;
}
.job_apply_button a {
    text-decoration: none;
    font-size: 20px;
    padding: 13px 70px;
    background: #fba352;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

.search-div-user-list {
    position: absolute;
    margin-left: 2%;
    width: 200px;
    height: 30px;
    background: #e4e4e4;
    padding-left: 8px;
    outline: none;
    border: none;
    border-radius: 20px 0 0 20px;
}
.search-button-user-list {
    position: absolute;
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    border-left: none;
    background: #fb8719;
    margin-left: 200px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.browse-jobs {
    position: relative;
    top: 6%;
}
.browse-jobs button {
    width: 300px;
    height: 60px;
    font-size: 1.8rem;
    font-weight: 600;
}

.popup-job-details {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.555);
}
.overlay-job-details {
    position: relative;
    width: 90%;
    height: 85%;
    background: white;
}

.image_tag{
    height: auto;
    width: auto;
    position: absolute;
    top: 18%;
    left: 5%;
}

.professional_image{
    height: 613px;
    left: -67px;
    top: -33px;
    position: absolute;
    //  right: -43px;
}

// .applicants_form_div{
//     // position: relative;
//     // display: flex;
//     // flex-direction: column;
// }

.applicant_name_p{
    // background: red;
    position: absolute;
    left: 26%;
    top: 20%;
    width: 46%;
    height: 121px;
    font-size: 21px;
    // font-weight: bold;
}

.applicant_name_p_input{
    position: absolute;
    left: 32%;
    padding-left: 10px;
    top: 36%;
    height: 57px;
    width: 46%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #e4e4e4;
    border: none;
    // border: 1px solid rgba(0, 0, 0, 0.533);
}

.applicant_p{
    // background: red;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}

.applicant_mobile{
    // background: red;
    position: absolute;
    left: 52%;
    top: 20%;
    width: 46%;
    height: 121px;
    font-size: 21px;
    // font-weight: bold;
}

.applicant_mobile_input{
    // border: 1px solid rgba(0, 0, 0, 0.533);
    position: absolute;
    left: 32%;
    padding-left: 10px;
    background-color: #e4e4e4;
    top: 36%;
    // top: 36%;
    height: 57px;
    // height: 41px;
    border: none;
    width: 46%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    // border: 1px solid;
}

.applicant_mobile_number{
    // background: red;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}

.applicant_experience_div{
    position: absolute;
    left: 26%;
    top: 51%;
    width: 46%;
    height: 121px;
    font-size: 21px;
}

.applicant_experience_input{
    // border: 1px solid rgba(0, 0, 0, 0.533);
    position: absolute;
    left: 32%;
    padding-left: 10px;
    background-color: #e4e4e4;
    top: 36%;
    height: 57px;
    border: none;
    width: 46%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    // border: 1px solid;
}

.applicant_experience{
    // background: red;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}

.applicant_address_div{
   
    position: absolute;
    left: 13.5%;
    top: 35%;
    width: 84.8%;
    height: 121px;
    font-size: 21px;

}

.applicant_address_input{
    // border: 1px solid rgba(0, 0, 0, 0.533);
    background-color: #e4e4e4;
    position: absolute;
    left: 32%;
    padding-left: 10px;
    top: 36%;
    height: 57px;
    width: 56%;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    // border: 1px solid;
}

.applicant_address{
    // background: red;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}

.applicant_education_div{
    // background: red;
    position: absolute;
    left: 52%;
    top: 51%;
    width: 46%;
    height: 121px;
    font-size: 21px;
    // font-weight: bold;
}

.applicant_education_input{
    // border: 1px solid rgba(0, 0, 0, 0.533);
    background-color: #e4e4e4;
    position: absolute;
    left: 32%;
    padding-left: 10px;
    border: none;
    top: 36%;
    height: 57px;
    width: 46%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    // border: 1px solid;
}

.applicant_education{
    // background: red;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}

.applicant_file_div{
   
    position: absolute;
    left: 13.5%;
    top: 67%;
    width: 84.8%;
    height: 121px;
    font-size: 21px;

}

.applicant_file_input{
    // border: 1px solid rgba(0, 0, 0, 0.533);
    background-color: #e4e4e4;

    position: absolute;
    left: 32%;
    padding-left: 275px;
    top: 36%;
    padding-top: 14px;
    height: 41px;
    width: 35.6%;
    font-size: 18px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    // border: 1px solid;
}

.applicant_file{
    // background: white;
    position: absolute;
    left: 32%;
    top: 22%;
    font-size: 21px;
}


.button_submit {
    background-color: #c2f4fb;
  border-radius: 100px;
  box-shadow: rgba(44, 151, 187, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 168, 187, 0.15) 0 1px 2px,rgba(44, 165, 187, 0.15) 0 2px 4px,rgba(44, 173, 187, 0.15) 0 4px 8px,rgba(44, 137, 187, 0.15) 0 8px 16px,rgba(44, 161, 187, 0.15) 0 16px 32px;
  color: rgb(0, 113, 128);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  position: absolute;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 85%;
  right: 31%;
  height: 53px;
  width: 175px;
}

.button_submit:hover {
  box-shadow: rgba(44, 163, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 154, 187, 0.25) 0 1px 2px,rgba(44, 170, 187, 0.25) 0 2px 4px,rgba(44, 146, 187, 0.25) 0 4px 8px,rgba(44, 170, 187, 0.25) 0 8px 16px,rgba(44, 149, 187, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.white_div{
    border-radius: 20px;
    position: absolute;
    top: 19%;
    right: 7%;
    height: 77%;
    width: 56%;
    background: white;
}

