<% unless  @jobs.length > 0 %>
        <div class="input_div">   
        <form action="/manager_add_job" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <div class="main_input_field">
            <div class="input_field input_field_1">
            <input type="text" name="job_list[hiring_manager_name]" id="" placeholder="Name" required>
            <input type="text" name="job_list[eligibility]" id="" placeholder="Experience" required>
        </div>
        <div class="input_field input_field_2">
            <input type="text" name="job_list[job_title]" id="" placeholder="Job title" required>
            <input type="text" name="job_list[company_name]" id="" placeholder="Company" required>
            </div>
            <div class="input_field input_field_3">
            <input type="text" name="job_list[qualification]" id="" placeholder="Qualification" required>
            <input type="text" name="job_list[country]" id="" placeholder="Country" required>
        </div>
        <div class="input_field input_field_4">
            <textarea type="text" name="job_list[about_job]" id="" placeholder="About job" required></textarea>
        </div>
        <div class="input_field_submit">
            <input type="submit" value="Add Job">
        </div>    
        </form>
        </div>
<% else %>

        <%# Need to give Add Job Icon %>
        <div class="main_manager_job_list_div">
    <div class="manager_list_job_div">  
        <div>
        <% @jobs.each do |job| %>
            <%= job.hiring_manager_name %>
            <%= job.job_title %>
        <% end %>
    </div>
    </div>
</div>
<% end %>
