<div class="navbar_div">
    <div class="logo_div">
        LOOKING <span class="logo_for_span">FOR</span>
    </div>
    <div class="nav">
       <span class="jobs_span"><a href="/manager_jobs/add_jobs">Jobs</a></span>
       <span class="recruiters_span"><a href="">Applications</a></span> 
       <span class="companies_span"><a href="">Interviews</a></span> 
       <span class="services_span"><a href="">Logout</a></span> 
       <% unless @current_user %>
         <span><a href="/homes/login"> Sign up </a></span>
         <% else %>
         <span class="profile_img"><%= @current_user.name if @current_user %></span>
       <% end %>
    </div>
    
</div>

<div class="about_manager_div">
    <span>Name:</span>
    <span class="profile_img"><%= @current_user.name if @current_user %></span>
    <div>Email:</div>
    <span><%= @current_user.email if @current_user%></span>
</div>